body{
	background-color: #212529;
}
input{
	background-color: #212529;
	color:white;
}
.input-group-text{
	background-color: #212529;
	color:white;
}
.border{
	color: white;
}
h1{
	color: white;
}
.btn{
	background-color: #15191d;
	border: #15191d;
}

pre{
	color: white;
}
#DivPerH{
	font-weight: bold;
}
#BossText{
	font-size: xx-large;
	display: flex; 
	align-items: center;
	justify-content: center;
	background-color: #15191d;
}
#DivToChaos{
	margin-left: 5px; 
	padding: 5px; 
	text-align: center;
	background-color: #15191d;
}
#CurrBoss{
	margin-right: 5px; 
	padding: 5px; 
	text-align: center;
	background-color: #15191d;
}
table tr{
	background-color: #15191d;
}
table th{
	background-color: #15191d;
}