body{
	background-color: #131212;
}
input{
	background-color: #131212;
	color:white;
}
.input-group-text{
	background-color: #131212;
	color:white;
}

.border{
	color: white;
}

h1{
	color: white;
}
/*
.btn{
	background-color: lightblue;
}
*/
pre{
	color: white;
}
#DivPerH{
	font-weight: bold;
}
#BossText{
	font-size: xx-large;
	display: flex; 
	align-items: center;
	justify-content: center;
	background-color: #132212;
}
#DivToChaos{
	margin-left: 5px; 
	padding: 5px; 
	text-align: center;
	background-color: #132212;
}
#CurrBoss{
	margin-right: 5px; 
	padding: 5px; 
	text-align: center;
	background-color: #132212;
}
table tr{
	background-color: #132212;
}
th{

}